{{ header }}
{# <div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div> #}
<div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
<section class="s_gray s_seo">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-lg-offset-2">
					<img src="http://via.placeholder.com/207x137" alt="">
				</div>
				<div class="col-lg-6">
					<h2>Текст для SEO</h2>
					<p>Предназначен для склеивания резины, кожи, металлов, полистирола, оргстекла и других пластиков, пробки, стекла, керамики,
						бетона. Не подходит для склеивания посуды, контактирующей с пищей, стиропора, полиэтилена и полипропилена. Разделы
						в подвале сайта «Возврат товара без проблем», вносим: отгрузка в день заказа, наличие собственного склада, только оригинальная
						продукция. Под каждое данное преимущество необходима своя иконка в стиле компании.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="s_white">
		<div class="container">
			<div class="row">
				<div class="advantages">

					<div class="col-md-4 col-sm-4">
						<div class="bottom_servise_wrap">
							<div class="col-md-2">
								<div class="img_wrap">
									<img src="img/package.svg" alt="">
								</div>
							</div>
							<div class="col-md-10">
								<div class="text-wrap">
									<h3>Отгрузка в день заказа</h3>
									<p class="s_descr">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="bottom_servise_wrap">
							<div class="col-md-2">
								<div class="img_wrap">
									<img src="img/sklad.svg" alt="">
								</div>
							</div>
							<div class="col-md-10">
								<div class="text-wrap">
									<h3>Наличие собственного склада</h3>
									<p class="s_descr">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="bottom_servise_wrap">
							<div class="col-md-2">
								<div class="img_wrap">
									<img src="img/steaker.svg" alt="">
								</div>
							</div>
							<div class="col-md-10">
								<div class="text-wrap">
									<h3>Только оригинальная продукция</h3>
									<p class="s_descr">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
{{ footer }}