<section class="s_white b_plugin">

		<div class="container">
			<div class="row">
				<div class="s_header_wrap ">
					<h2>{{ heading_title_name }} </h2>
				</div>
			</div>
			<div class="row grid"> 
			{% for product in products %}
						<div class="item_wrap product col-md-3 col-xs-6 col-sm-3" id='product_{{ product.product_id }}' data-product-id="{{ product.product_id }}">
							<div class=" top_info clearfix">

								<div class="pln col-md-6 col-xs-5">
									{% if product.discount %}
										<div class="bage_green bage">-{{product.discount}}%</div>
									{% elseif product.bestseller %}
										<div class="bage_blue bage">Хит</div>
									{% elseif  product.latest %}
										<div class="bage_blue_new bage">New</div>
									{% else %}
										<div class="bage"></div>
									{% endif %}
								</div>
								<div class="prn col-md-6 col-xs-7">
									<div class="itm_artic_wrap">
										{{ product.sku }}
									</div>
								</div>
															
							</div>
							

							<div class="row">
								<a href="{{product.href}}">
									<div class="col-md-12 itm_img_wrap">
										<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}">
									</div>
								</a>

								<div class="col-md-12 h_wrap">
									<h4><a href="{{product.href}}">{{ product.name }}	</a></h4>
								</div>

								<div class="col-md-12 p_wrap">
									{% if product.price %}
										{% if not product.special %}
										<div class="price">{{ product.price }}</div>
										{% else %}
										<div class="price">{{ product.special }}
											<div class="old_price">{{ product.price }}</div>
										</div>
										{% endif %}
									{% endif %}
								</div>

								<div class="col-md-6 col-sm-12  col-sm-12   pr-lg-right cw_wrp">
									<div class="counter_wrap">
										<div class="cw_inner">
											{# counter #}
											<input hidden class="quantitiy_in_pack" value = "{{product.quantity_in_pack}}" >	
											<span class="input-number-decrement">–</span><input class="input-number"  type="text" value="{{ product.minimum > product.quantity_in_pack ? product.minimum : product.quantity_in_pack }}" min="{{ product.minimum }}" max="{{product.maximum}}"><span class="input-number-increment">+</span>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-12 btn_buy_wrap btn_buy_wrap_link">
									{# button #}
									<button onclick="cart.add('{{ product.product_id }}', $(this).parent().parent().find('.input-number').val());" class="btn_buy primary_btn">{{ button_cart }}</button>
								</div>
								
					
								
								
							</div>
						</div>

					{% endfor %}
			</div>
			<div class="row">
				<div class="s_bottom text-center">
					<button class="text_btn"><a href={{featured}}>Все предложения</a></button>
				</div>
			</div>

		</div>
	</section>
