	<section class="s_gray">
		
		
		<div class="container pn-md">

			<div class="">
				<div class="col-lg-4 visible-lg pr-lg-left prn">

					<div id="sidebarMenu_dock">
						{% if categories %} 
						<ul class="sidebarMenuInner">
									{% for category in categories %}
										<li class ="main-item"><a href="{{ category.href }}"><div class="icon_mnu_wrap"><img src="image/{{ category.image }}" alt=""></div><p>{{ category.name }}</p><i class="fas fa-angle-right"></i></a>
											{% if category.children %}
												{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
													<ul class="inner-list">
														<li class="sub-item back_btn_mnu" ><a href="#" class="back_b"><p>Назад</p></a></li>
														{% for child in children %}
															{% if child.image %}
																<li class="sub-item"><a href="{{ child.href }}"><div class="img_wrap"><img src="image/{{ child.image }}" alt=""></div><p>{{ child.name }}</p></a></li>
															{% else %}
																<li class="sub-item"><a href="{{ child.href }}"><div class="img_wrap"><img alt=""></div><p>{{ child.name }}</p></a></li>
															{% endif %}
														{% endfor %}
													</ul>
													{% endfor %}
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							
						<div class="bottom_link">
							<a href="#" ><img src="img/cat_icon/file.svg" alt="">Скачать прайс-лист</a>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-8 pn-lg-left col-md-12 pn-md prn">
					<div class="banner_wrap">
					
					{# <img src="http://via.placeholder.com/922x492" alt="" class="img-responsive"> #}
					
					<div id="slideshow{{ module }}" class="swiper-container">
					
   					<div class="swiper-wrapper"> {% for banner in banners %}
     				<div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
    					{% endfor %} </div>
  					</div>
  					<div class="swiper-pagination slideshow{{ module }}"></div>
  					{# <div class="swiper-pager">
  					  <div class="swiper-button-next"></div>
  					  <div class="swiper-button-prev"></div>
  					</div> #}

				</div>
				</div>

			</div>
		</div>
	</section>

{# <div class="swiper-viewport">
  <div id="slideshow{{ module }}" class="swiper-container">
    <div class="swiper-wrapper"> {% for banner in banners %}
      <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %} </div>
  </div>
  <div class="swiper-pagination slideshow{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

</div> #}

<script type="text/javascript"><!--
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: true
});
--></script>