{{ header }}
  	<div class="bred_crambs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
								<ul class="bred_crambs_list">
										{% for breadcrumb in breadcrumbs %}
											<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><img src="img/arrow.svg" alt=""></li>
    								{% endfor %}
								</ul>
					</div>
				</div>
			</div>
		</div>
<div id="product-product" >
	<jsonDebug hidden>{{attributes_d}}</jsonDebug>
	<section class="s_product">
		<div class="container">
			<div class="row">
					<h1 class="visible-xs visible-sm xs_header1">{{ heading_title }}</h1>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="preview_wrap">
						<div class="main_img">
							<a src="{{popup}}"title="{{ heading_title }}">
								<img src="{{popup}}" title="{{ heading_title }}" alt="{{ heading_title }} "  class="img-responsive"/>
							</a>
						</div>
						<div class="list_img">
							<div class="row">
								<div class="inner_list_img_wrap">
									<div class="col-md-3">
										<div class=" video_p">
											
													<img src="img/video_prew.svg" alt="">
													<div class="call_to">
														Смотреть обзор
													</div>
											
										</div>
									</div>

									{% if images %}
									{% for image in images %}
									<div class="col-md-3">
											<div class="small_img">
												<img src="{{ image.popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" >
											</div>
									</div>
									{% endfor %}
									{% endif %}

									{# <div class="col-md-3">
											<div class="small_img">
												<img src="http://via.placeholder.com/35x52" alt="">
											</div>
									</div>
									<div class="col-md-3">
											<div class="small_img">
												<img src="http://via.placeholder.com/32x62" alt="">
											</div>
									</div>
									<div class="col-md-3">
											<div class="small_img">
												<img src="http://via.placeholder.com/32x50" alt="">
											</div>
									</div> #}

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<h1 class="hidden-xs hidden-sm">{{ heading_title }}</h1>
					<div class="ml_center">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="row">
									<div class="simp_price"><strong>{{ price }}<span class="currency"></span></strong></div></div>
									{# <div class="limit">от <span class="amount_lim">5 ед.</span>минимальный заказ</div> #}
									<div class="limit">{{ text_minimum }}</div>
							</div>
							<div class="col-md-6 col-sm-6">
									<div class="retail_price">Рекомендуемая розничная цена<div class="price">{{ price }}<span class="currency"></span></div></div>
								</div>
					</div>			
					<div class="row">
							<div class="col-md-6">
								<div class="legend">Выберите количество товара </div>
							</div>
						</div>
					<div class="row">
						<div class="col-md-5 col-sm-4">
							<div class="input_number_wrap">
								<span class="input-number-decrement">–</span><input class="input-number" name='quantity' type="text" value="{{minimum}}" min="{{minimum}}" max="10"><span class="input-number-increment">+</span>
							</div>
						</div>
						<div id='cart-result'></div>
						<div class="col-md-7 col-sm-8">
							<button class="primary_btn btn_buy main_btn_buy" id="button-cart">Купить
								<div class="massage">Вы купили 1 штуку, спасибо, смотри корзину</div>
							</button>
							{# <button class="primary_btn btn_buy" id="button-cart">Купить</button> #}
              {# <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button> #}
							{# <a href="#" class="btn_buy" id="button-cart">Купить</a> #}
						</div>
					</div>
					<input name='product_id' hidden value={{product_id}}></input>
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="articul-wrap">
								Артикул: {{ product_id }}
								{# Артикул: 334156 #}
							</div>
						</div>
					</div>
				</div>
						<div class="row">
								<div class="servise_wrap">
										<div class="col-md-2 col-xs-3">
											<div class="img_wrap">
												<img src="img/car.svg" alt="">
											</div>
										</div>
										<div class="col-md-10 col-xs-9">
											<h3>Доставка</h3>
											<p class="s_descr">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
										</div>
									</div>
						</div>
						<div class="row">
								<div class="servise_wrap">
										<div class="col-md-2 col-xs-3">
											<div class="img_wrap">
												<img src="img/card.svg" alt="">
											</div>
										</div>
										<div class="col-md-10 col-xs-9">
											<h3>Оплата</h3>
											<p class="s_descr">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
										</div>
									</div>
						</div>
					
				</div>
			</div>
		</div>
	</section>

	<section class="s_properties">
		<div class="container">
			<div class="row">
				<div class="s_header_wrap">
						<h2>Характеристики</h2>
				</div>
			</div>
			<div class="row">
					<div class="clump">
							<div class="card">
								<div class="section">
									<!-- open -->
									<div class="col-md-6 col-sm-6">
											<ul class="list_prop">
												{% for attr in attributes %}
													{% if loop.index is not divisible by(2) %}
														<li><span class="s_left">{{attr.name}}</span><span class="s_right">{{attr.text}}</span></li>
													{% endif %}
												{% endfor %}
											</ul>
									</div>
									<div class="col-md-6 col-sm-6">
											<ul class="list_prop">
												{% for attr in attributes %}
													{% if loop.index is divisible by(2) %}
														<li><span class="s_left">{{attr.name}}</span><span class="s_right">{{attr.text}}</span></li>
													{% endif %}
												{% endfor %}
											</ul>
									</div>
									{# <div  class="detail closed">
										<!-- closed_info -->
											<div class="col-md-6 col-sm-6">
													<ul>
															<li><span class="s_left">Производитель</span><span class="s_right">Apple</span></li>
															<li><span class="s_left">Производитель</span><span class="s_right">Apple</span></li>
															<li><span class="s_left">Производитель</span><span class="s_right">Apple</span></li>
															<li><span class="s_left">Производитель</span><span class="s_right">Apple</span></li>
															<li><span class="s_left">Производитель</span><span class="s_right">Apple</span></li>
														</ul>
											</div>
										<!-- closed_info end-->
									</div> #}
								</div>
								<div class="footer visible-xs">
									<div class="slider_link more">Подробнее</div>
									<div class="slider_link less hide_link">Скрыть</div>
								</div>
							</div>
						</div>					
				</div>
			<div class="row">
				<div class="col-md-6 hidden-xs">
					<div class="full_descr">
							<h3>Подробное описание:</h3>
					<p>
						Предназначен для склеивания резины, кожи, металлов, полистирола, оргстекла и других пластиков, пробки, стекла, керамики, бетона. Не подходит для склеивания посуды, контактирующей с пищей, стиропора, полиэтилена и полипропилена.
						Разделы в подвале сайта «Возврат товара без проблем», вносим: отгрузка в день заказа, наличие собственного склада, только оригинальная продукция. Под каждое данное преимущество необходима своя иконка в стиле компании.
					</p>
					</div>
				</div>
				
			</div>
		</div>
	</section>




<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	var product_id = $('input[name=product_id]').val();
	var quantity = $('input[name=quantity]').val();
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: {product_id, quantity},
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('#button-cart').before('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('.cart-total').html(json['total']);

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script> 
{{ footer }} 
