{{ header }}
<div class="">
	<div class="bred_crambs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
								<ul class="bred_crambs_list">
										{% for breadcrumb in breadcrumbs %}
											<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><img src="img/arrow.svg" alt=""></li>
    								{% endfor %}
								</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<div id="information-information" class="container">
  {# <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ description }}{{ content_bottom }}</div>
    {{ column_right }}</div> #}
		<section class="faq_wrap">
		<div class="container">
			
				<div class="col-md-12">
					<h2>Вопросы</h2>
				</div>
				<div class="col-md-6">
						<dl class="faq_list">
								<dt class="faq_header">
										<div class="faq_flx_inner_wrap">
												<div class="icon_wrap">
													<img src="img/question-circle-o-anticon.svg" alt="" class="faq_img">
												</div>
												<div class="text_wrap">
														Как купить товар в оптовом интернет-магазине?
												</div>
											</div>
								</dt>
								<dd>
									Достаточно зайти на «Главную страницу» оптового интернет-магазина M8line, ознакомиться с акциями и новыми товарами, если необходимая позиция отсутствует, перейдите во вкладку «Меню». Данный раздел отображает полный перечень основных направлений товара. У каждой категории имеются собственные подкатегории, перейдите на них нажав например на «Источники питания» и далее «Коногонки». При нажатии на кнопку «Купить», товар попадает в «Корзину», где вы продолжите оформление заказа.
									<div class="close_faq_btn_wrap text-right">Скрыть <i class="fas fa-angle-up"></i></div>
								</dd>
								<dt class="faq_header">
										<div class="faq_flx_inner_wrap">
												<div class="icon_wrap">
													<img src="img/question-circle-o-anticon.svg" alt="" class="faq_img">
												</div>
												<div class="text_wrap">
														Как получить товар в другой стране (Казахстан, Беларусь, Россия и т.д.)?
												</div>
											</div>
								</dt>
								<dd>
									В данный момент M8line осуществляет отправку товара со складов находящихся на территории Украины. Для заказа продукции мелким оптом и крупным оптом в страны ближайшего зарубежья (Россия, Беларусь, Казахстан, Польша, Литва и т.п.) вы должны связаться с менеджерами через корпоративную почту компании <a href="mailto:office@m8line.com">office@m8line.com</a>. Также, при оформлении заказа в разделе «Вид доставки» укажите «Другое» и менеджеры выйдут с вами на контакт.
									<div class="close_faq_btn_wrap text-right">Скрыть <i class="fas fa-angle-up"></i></div>
								</dd>
								
								
							</dl>
				
				</div>
				<div class="col-md-6">
						<dl class="faq_list">
								<dt class="faq_header">
										<div class="faq_flx_inner_wrap">
												<div class="icon_wrap">
													<img src="img/question-circle-o-anticon.svg" alt="" class="faq_img">
												</div>
												<div class="text_wrap">
														Кому необходим оптовый интернет-магазин?
												</div>
											</div>
								</dt>
								<dd>
									В первую очередь, это начинающие предприниматели которые хотят создать личный бизнес в розничной торговле хозтоварами, клеящими веществами, герметиками, клейкими лентами, источниками питания и другими сопутствующими товарами. Также, предприниматели которые уже управляют бизнесом и ищут партнерство на выгодных условиях.
									<div class="close_faq_btn_wrap text-right">Скрыть <i class="fas fa-angle-up"></i></div>
								</dd>
								<dt class="faq_header">
										<div class="faq_flx_inner_wrap">
												<div class="icon_wrap">
													<img src="img/question-circle-o-anticon.svg" alt="" class="faq_img">
												</div>
												<div class="text_wrap">
														Почему сотрудничать с нами прибыльно?
												</div>
											</div>
								</dt>
								<dd>
									Опыт в розничной торговле и сотрудничество более чем с 700 партнерами по всей территории Украины позволяет нам с точностью до 85% спрогнозировать спрос на товар в зависимости от сезона. Дополнительные скидки при покупке товара от 500 долларов. Поддержка профессиональных менеджеров. Стабильное наличие товара. Долгосрочные проекты развития наших клиентов. Для нас важно работать так, чтобы интересно было и нашим клиентам и розничному покупателю.
									<div class="close_faq_btn_wrap text-right">Скрыть <i class="fas fa-angle-up"></i></div>
								</dd>
								
								
							</dl>
				
				</div>
			

		
		</div>
	</section>
	<section class="s_white">
		<div class="container">
			<div class="row">
				<div class="advantages">

					<div class="col-md-4 col-sm-4 pln prn">
						<div class="bottom_servise_wrap">
							<div class="col-md-2 pln prn">
								<div class="img_wrap">
									<img src="img/package.svg" alt="">
								</div>
							</div>
							<div class="col-md-10 pln">
								<div class="text-wrap">
									<h3>{{texth1}}</h3>
									<p class="s_descr">{{text1}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 pln prn">
						<div class="bottom_servise_wrap">
							<div class="col-md-2 prn pln">
								<div class="img_wrap">
									<img src="img/sklad.svg" alt="">
								</div>
							</div>
							<div class="col-md-10 pln">
								<div class="text-wrap">
									<h3>{{texth2}}</h3>
									<p class="s_descr">{{text2}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 pln prn">
						<div class="bottom_servise_wrap">
							<div class="col-md-2 prn pln">
								<div class="img_wrap">
									<img src="img/steaker.svg" alt="">
								</div>
							</div>
							<div class="col-md-10 pln">
								<div class="text-wrap">
									<h3>{{texth3}}</h3>
									<p class="s_descr">{{text3}}</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>
{{ footer }}